

.edit-upcycling-form {
    max-width: 960px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #30475e, 0 4px 8px 0 #30475e;
  }

  .update-title{
    text-align: center;
    text-decoration: underline;
  }

  label {
    font-weight: bold;
    text-align: left;
}

input[type="text"]{
    width: 99%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 99%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.update-button{
    align-items: center;
    padding: 10px;
    background-color: #002b7b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: 0.3s;
}

.update-button:hover{
    background-color: #00369b;
   
}