.analytics {
  background: #004643;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  color: #f3fbfd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin: 20px auto;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.analytics-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.analytics-item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background: #9dc1b6;
  border-radius: 8px;
  border: 2px solid #738782;
  color: #001e1d;
}

.analytics-item span {
  font-size: 18px;
  font-weight: 500;
}

.analytics-item .value {
  font-size: 20px;
  font-weight: 700;
  color: #f9bc60;
}

.analytics-item button {
  background: #f9bc60;
  color: #001e1d;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.analytics-item button:hover {
  background: #ffd489;
}

.analytics-item button:active {
  transform: translateY(3px);
}
