* {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 10px 16px;
    margin-bottom: 16px;
  }
  
  .navbar-logo {
    color: rgb(14, 80, 69);
    font-size: 20px;
  }
  
  .navbar-menu {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin: 0;
    align-items: center;
  }
  .navbar-menu li a {
    text-decoration: none;
    color: rgb(14, 80, 69);
  }